
    body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Times New Roman;
      overflow: hidden;
      background: linear-gradient(135deg, #ff4d6d, #ffb703, #3a86ff, #8338ec);
      background-size: 400% 400%;
      animation: bgMove 6s infinite alternate;
    }

    @keyframes bgMove {
      0% { background-position: 0% 50%; }
      100% { background-position: 100% 50%; }
    }

    .box {
      background: rgba(255, 255, 255, 0.2);
      padding: 40px;
      border-radius: 25px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
      text-align: center;
      backdrop-filter: blur(12px);
      width: 450px;
      position: relative;
    }

    h1 {
      font-size: 40px;
      margin-bottom: 10px;
      color: white;
      text-shadow: 2px 2px 10px black;
      animation: pop 1s infinite alternate;
    }

    h2 {
      font-size: 25px;
      color: yellow;
      text-shadow: 2px 2px 10px black;
      margin-bottom: 30px;
    }

    @keyframes pop {
      from { transform: scale(1); }
      to { transform: scale(1.08); }
    }

    button {
      cursor: pointer;
      padding: 12px 30px;
      font-size: 20px;
      border: none;
      border-radius: 15px;
      margin: 10px;
      font-weight: bold;
      transition: 0.3s;
    }

    #yesBtn {
      background: linear-gradient(to right, #06d6a0, #00bbf9);
      color: white;
      box-shadow: 0px 0px 15px #00bbf9;
    }

    #yesBtn:hover {
      transform: scale(1.2);
      box-shadow: 0px 0px 25px #00bbf9;
    }

    #noBtn {
      background: linear-gradient(to right, #ff006e, #ffbe0b);
      color: white;
      position: absolute;
      box-shadow: 0px 0px 15px #ff006e;
    }

    #result {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      animation: fadeIn 1s ease-in-out;
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: scale(0.7); }
      to { opacity: 1; transform: scale(1); }
    }

    #result h1 {
      font-size: 50px;
      color: #ff00bf;
      text-shadow: 2px 2px 15px black;
    }

    #result h2 {
      font-size: 35px;
      color: #ffdd00;
      text-shadow: 2px 2px 15px black;
    }


    #gif {
      width: 280px;
      height: 280px;
      object-fit: cover;
      margin-top: 20px;
      border-radius: 25px;
      border: 5px solid white;
      box-shadow: 0px 0px 30px rgba(0,0,0,0.6);
      animation: swag 1s infinite alternate;
    }

    @keyframes swag {
      from { transform: rotate(-3deg) scale(1); }
      to { transform: rotate(3deg) scale(1.05); }
    }

    .heart {
      position: absolute;
      bottom: -20px;
      font-size: 30px;
      animation: floatUp 5s linear infinite;
    }

    @keyframes floatUp {
      0% { transform: translateY(0); opacity: 1; }
      100% { transform: translateY(-110vh); opacity: 0; }
    }